@import '../styles/mixins';

$size: 20px;

.container {
  display: flex;
  padding: 4px;
  padding-left: 5px;
  margin: 10px 0;

  @include block();

  img {
    width: $size;
    height: $size;
  }
}

.content {
  line-height: $size;
  font-size: 13px;
  margin-left: 3px;
  margin-right: 3px;
}
