.container {
  display: flex;
  flex-direction: row;

  width: 100%;

  & > * + * {
    margin-left: 10px;
  }
}

.end {
  display: flex;
  align-items: center;
  margin-left: auto;

  & > * + * {
    margin-left: 10px;
  }
}
